body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #162434;
  color: #fff;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
}

.content p:nth-child(1) {
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: #00b2ff;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.orb {
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(#00ff00, #00ff00, #00ff00);
  border-radius: 50%;
  animation: animate 10s linear infinite;
  z-index: -1;
}

@keyframes animate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.orb:after {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  background-color: #162434;
}

.orb span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00b2ff, #00ffbb, #6bff6b);
  border-radius: 50%;
}

.orb span:nth-child(1) {
  filter: blur(5px);
}
.orb span:nth-child(2) {
  filter: blur(10px);
}
.orb span:nth-child(3) {
  filter: blur(20px);
}
.orb span:nth-child(4) {
  filter: blur(55px);
}
